@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
:root {
     --thicc-font: font-weight: 600;
     --medium-font: font-weight: 400;
     --slim-font: font-weight: 300;
     --just-white: #fffbfb;
}
* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .card {
    height: 90vh;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 1px;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: rgb(0, 0, 0);
  font-family: Open Sans, 'Sans Serif';
  background-image: url('https://source.unsplash.com/1600x900/?landscape');
  font-size: 120%;
}
.card {
  padding: 2em;
  width: 100%;
  max-width: 520px;
  /* margin: 2em; */
  background: rgba(0, 0, 0, 0.822);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.479);
  backdrop-filter: blur( 12.0px );
  -webkit-backdrop-filter: blur( 12.0px );
  border-radius: 6px;
}
.search {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.search-bar {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.7em;
  border-radius: 25px;
  background-color: #7c7c7c2b;
  color: white;
  font-family: source sans pro;
  font-size: 1.1rem;
}
.search button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  padding: 1.3em;
  background-color: rgb(32, 32, 32);
  color: white;
}
.city {
  font-weight: 400;
}
.search button:hover {
  background-color: rgb(54, 51, 63);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.weather {
  color: var(--just-white);
}
.temp {
  margin-top: 0.5em;
  color: rgb(0, 182, 152);
}
.feels {
  margin-bottom: 1em;
  font-size: 0.7rem;
}
.desc {
  text-transform: capitalize;
  margin-left: 0;
}
.description-box {
  display: flex;
  align-items: center;
  width: 50%;
  margin-left: 0;
}
.icon {
  margin-left: 0;
  margin-right: 5px;
}
p {
  font-size: 1.2rem;
}
.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}
.weather.loading:after { 
  visibility: visible;
  content: "loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}